Package: atomes-dbgsym
Source: atomes
Version: 1.1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Sébastien Le Roux <sebastien.leroux@ipcms.unistra.fr>
Installed-Size: 1882
Depends: atomes (= 1.1.0-1)
Section: debug
Priority: optional
Description: debug symbols for atomes
Build-Ids: 2fa22aec24596d998c0e3b2c4bf060084f6d51e2
