Source: atomes
Section: Science
Priority: optional
Maintainer: Sébastien Le Roux <sebastien.leroux@ipcms.unistra.fr>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.5.1
Homepage: https://atomes.ipcms.fr/
#Vcs-Browser: https://salsa.debian.org/debian/atomes
#Vcs-Git: https://salsa.debian.org/debian/atomes.git
Rules-Requires-Root: no

Package: atomes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Atomes: a toolbox to analyze, visualize and edit/create 3D atomistic models.
